.language {
  color: aquamarine;
  font-family: cursive;
  font-size: 50%;
}

table,
th,
td {
  border: 1px solid plum;
  width: 50%;
}

#title {
  color: cornflowerblue; font-size: 150%;
  font-family: cursive;
}